@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import "./themes/dark.css";
@import "./themes/light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--color-body: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
--color-body: #0D0D12;
  }
}

body {
  background-color: var(--color-body);
}



